@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 10px 50px;
    color: #1B4332;
}

li, a{
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #1B4332;
    text-decoration: none;
    
}

.header{
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: 20px;
    padding: 25px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    background-color: #bcbbbb1e;
}

p{
    font-family: Roboto, sans-serif;
}

body{
    margin: 10px 50px;
    color: #1B4332;
}
.logo{
    font-family: 'Cherry Cream Soda';
    cursor: pointer;
    overflow: hidden; 
    white-space: nowrap; 
    animation: typing 5s steps(40) ;
}

.logo span{
    color: #0CAA41;
}


@keyframes typing {
    from { width: 0; }
    to { width: 64%; }
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px 0px 0px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
    font-weight: bolder;
}

.nav-links li a:hover{
    color: #0CAA41;
    
} 
.Section {
    padding: 30px 30px;
    margin-top: 5%;
    width: 100%;
    border-radius: 10px;
    background-color: #bcbbbb1e;
    color: #073920;  
    font-weight: 600;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}


.nav-links li a {
    position: relative;
}

.nav-links li a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #1B4332;
    transition: width 0.3s ease-in-out;
}

.nav-links li a:hover:after {
    width: 100%;
}

.Section p{
    line-height: 1.5pc;
    text-align:justify;
    font-size: larger; 
}
